:root {
    --main-bg-color: #02a078;
    --main-text-color: #ffffff;
    --second-text-color: #d8d8d8;
    --second-bg-color: #FF9900;
}
body{
    font-size: 100;
}
.background{
    background-color: var(--main-bg-color);
}



.dashboard{
    color: rgb(226, 226, 226);
}

.primary-text {
    color: rgb(226, 226, 226);
}

.secondary-text{
    color: rgb(0, 0, 0);
}

.second-text {
    color: rgb(226, 226, 226);
}

.primary-bg {
    background-color: red;
}

.secondary-bg {
    background-color: blue;
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
        to right,
        #d1caca,
        #047a5d,
        #d1caca,
        #d1caca,
        #047a5d
);
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 16rem;
}

#page-content-wrapper {
    min-width: 150vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -18rem;
    }
}